/* Splash screen */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d3b66; /* azul de la fundación */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

/* Cuando empieza la transición de salida */
.splash.fade-out {
  opacity: 0;
}

/* Animación del logo /**/
.splash-logo {
  width: 100;
  height: 100;
  animation: scaleIn 0.8s ease;
}

@keyframes scaleIn {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
