<section class="section-full reveal alt" id="vision">
  <div class="vision-grid">

 <div class="vision-img">
      <img src="assets/mision.png" alt="Visión FUNAVIC">
    </div>



    <!-- TEXTO -->
    <div class="vision-text">
      <h2>Nuestra Mision</h2>
      <p>
Nuestra misión es propender por el bienestar integral de la población víctima del conflicto armado y la comunidad en general en el departamento del Amazonas. Trabajamos en el cuidado del medio ambiente, la salud intercultural (SISPI), el fomento de sistemas agro-diversos y la participación activa en políticas públicas para lograr una sostenibilidad socioeconómica con enfoque diferencial.      </p>
    </div>

    <!-- IMAGEN -->
   
  </div>
</section>
