<section class="section-full reveal alt" id="vision">
  <div class="vision-grid">

    <!-- TEXTO -->
    <div class="vision-text">
      <h2>Nuestra Visión</h2>
      <p>
      Para el año 2035, FUNAVIC-Amazonas será una fundación líder y referente a nivel regional y nacional en la atención integral, organización, representación y desarrollo sostenible de las víctimas del conflicto armado y comunidades vulnerables, reconocida por su impacto social, ambiental y cultural, su capacidad de gestión de proyectos, su compromiso con la paz territorial, la conservación del ecosistema amazónico y el fortalecimiento de procesos productivos, comunitarios y de economía solidaria que mejoren de manera significativa la calidad de vida de la población
      </p>
    </div>

    <!-- IMAGEN -->
    <div class="vision-img">
      <img src="assets/vision.png" alt="Visión FUNAVIC">
    </div>

  </div>
</section>
